/*Google font*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');

.logo {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outlin: none;
}

.logOut {
  background-color: transparent;
  color: lightgray;
  margin-top: 7px;
  font-size: 25px;
  border: none;
  outlin: none;
  cursor: pointer;
}

.photo {
  background-color: transparent;
  color: gray;
  margin-right: 10px;
  font-size: 25px;
  border: none;
  outlin: none;
  cursor: pointer;
}

.btn-modal {
  background-color: transparent;
  color: gray;
  margin: 7px;
  font-size: 22px;
  border: none;
  outlin: none;
  cursor: pointer;
}
